.first {
    background-color: #1F2937;

    color: #F9FAF8;
    display:flex;
    flex-direction: column;
    
}

.first h1{
    font-size: 48px;
    font-style:extra-bold; 
    
}

.first h2 {
    font-size: 24px;
    flex:3
}

.first p{
    font-size: 18px;
    color: #E5E7EB;
    display: inline;
}

.first nav{
    
    display: inline-flex;
    flex:1;
    justify-content: space-between;
}
.first a{
font-size: 18px;
    color: #E5E7EB;
    margin: 3px;
    text-decoration: none;
}
.first button{
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 10px;
    height:30px;
    width:100px;
}

.first header{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}